//мои переменные
// $theme-colors: (
//   "primary": #d000ff
// );
//импорт после переопределения. Обязательно нужен именно весь bootstrap, а не его части.
@import "node_modules/bootstrap/scss/bootstrap";
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

div.calculationCard {
    
}

div.myHeader {
    background-image: url("images/header-image-new.png");
    box-shadow: 3px 5px 20px #DCDCDC;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url("images/circles-light.png");
}

